@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');




.col-md-5 {
    height: 4rem;
    width: 100%;
    border-width:thin;
    border-style: solid;
    border-color: aliceblue;
}

.glow:hover {
    //border: 1px solid aliceblue;
    box-shadow: 0 0 15px aliceblue;
    transition: all 0.2s ease;
  }
  
 .high.active {
    border-color: aliceblue;
    border:solid 1px;
    color: aliceblue;
}

