<div class="container" style="font-size: x-large;">

    <div class="row">
        <div class="col-md-12">
            I have the impression that SaaS has been on everyone's lips in the tech industry over the last few years.
            Every founder, entrepreneur, or engineer I spoke to was keen to offer software as a service. Lately, that
            seems to have changed. Nowadays, everyone wants to build a platform.... you talk about platforms for ml,
            medical informatics, and commerce - just to name a few. When asked about the specific problem the platform
            solves or how the platform adds value, the answers are often very vague.
            <br>
            <br>
            It becomes even more unclear when you ask about the definition of a platform. How is it different from SaaS?
            <br><br>

            However, I am not in a position to give an answer to this question. In my view, a platform is something like
            a workbench that should enable and empower people to create value. The platform owner should receive a fair
            share of this value creation for providing and maintaining the workbench.
            It is important to emphasize that value creation does not necessarily mean monetary value. Let's say you use
            a platform to improve the workflow of a software development team.In that case, I also consider that as
            value creation.
            <br>
            With this in mind, we can now dive into the ML space and discuss some approaches.
            <br>
            <br>

            If you follow ML/AI research, you probably have noticed that the algorithms are applied to numerous problem
            domains. Just have a look at Computer Vision (CV) which is successfully used to:
            <br>
            <br>
            <ul>
                <li> CT and MRI analysis
                </li>
                <li> Cancer detection

                </li>
                <li> Pedestrian detection

                </li>
                <li> ...

                </li>
            </ul>

            Each use case is a massive business case with lots of potential for success. Just imaging being the
            company that can provide an accurate cancer detection service. Theoretically, you can serve anyone who has
            an MRI/CT image... a vast market.
            <br>
            <br>

            Now we have our business case, and the question is, what is next? How can we align our
            engineering efforts with our business goals? Should we make a SaaS solution or go for
            a more "platform" approach?
            <br>
            <br>

            This is where the ML Quadrant comes into play. The ML Quadrant helps you categorize your ML Service into
            four categories among two dimensions.
            <br>
            <br>
            One dimension is the domain knowledge required to build a performant ML model. I claim that there are
            problems that don't need a lot of domain knowledge and that one can be successful by just applying models
            out of the box. This is also the case if there is not a lot of domain knowledge available. The only approach
            is to use
            a lot of computing power and try many different models with different parameter configurations. I would say
            that many trading algorithms are of that kind. None really understands short-term market dynamics... thus,
            one has to experiment a lot.
            On the other hand, assume creating an ML model for a medical use case. Without profound medical knowledge,
            you probably have difficulty building a model outperforming your competitors. Also, the requirements for
            such a model are entirely different. For a medical ML model, explainability and trustworthiness will be
            exceptionally important.
            This might be neglectable for a trading model as long it is profitable.
            <br><br>
            The second dimension is integrability. There, one can distinguish between individual and general. What does
            that mean? Assume you built an ML model to stratify risks for health insurance. To provide the model to your
            customer, you need to integrate it deeply into their infrastructure. Every insurance has a different
            infrastructure, so you always need to adapt. Additionally, the insurances need to adapt their business
            process to benefit from your ML model. This is always associated with risk, and it will be a challenge to
            convince their leadership to buy-in.
            On the contrary, let us assume we offer an ML model to predict the performance of your social media
            activities. This is way easier to integrate. The whole social media business is fully digitized. Your
            customer subscribes to the service, passes the URL o the social media account, and your algorithm can start
            fetching the data.

            <br><br>
            For each category, there is different leverage to compete in the market. <br>For each category, there is a
            different way to engineer your system.<br>
            For each category, there is a different mindset you need to apply.<br>
            For each category, there is a different...


            <br><br>
            <span style="font-weight: bolder;">The ML Quadrant supports you in structuring this design process and
                finding a focus for your ML platform.
            </span>
            <br><br>
            Important: I do not claim that these strategies are mutually exclusive, and I think a mature ML platform can cover all
            of them. Nevertheless, we have to start somewhere. And there is definitely room to improve the ML Quadrant
            as a tool. This should just sketch a possible approach to structure the design process.

        </div>
    </div>

    <div class="row d-lg-none">
        <span style="font-size: medium; font-style: italic;"> I'm sorry, I can't show the animated quadrant on small
            screens, as I'm not a very talented front-end engineer.</span>
    </div>

    <div class="row d-none d-lg-block" style="margin-top: 50px;;">
        <span style="font-size: medium; font-style: italic;"> You can hover over the visualization below and click
            yourself through the examples to grasp the idea.</span>
    </div>

    <div class="row  d-none d-lg-block" style="margin-top: 100px;">

        <div class="col-md-12">
            <div class="container">
                <div class="row"
                    style="margin-bottom: 80px;padding-bottom: 20px;; text-align: center;border-bottom: solid thin;">
                    <div class="col-md-2" style="font-weight: bolder;">
                        Select:
                    </div>
                    <div class="col-md-2 glow high" [ngClass]="{'active': selection === 'examples'}"
                        style="cursor: pointer;" (click)="clickview('examples')">
                        <aq-tooltip [text]="'Examples'"
                            [hover]="'Some use cases from different problem domains to showcase the way the ML Quadrant works'">
                        </aq-tooltip>
                    </div>

                    <div class="col-md-2 glow high" [ngClass]="{'active': selection === 'analysis'}"
                        (click)="clickview('analysis')" style="cursor: pointer;">
                        <aq-tooltip [text]="'Analysis'"
                            [hover]="'Explain why your ML service is in a particular category. '">
                        </aq-tooltip>

                    </div>
                    <div class="col-md-2 glow  high" [ngClass]="{'active': selection === 'leverage'}"
                        style="cursor: pointer;" (click)="clickview('leverage')">
                        <aq-tooltip [text]="'Leverage'" [hover]="'What would give you an edge on the market?'">
                        </aq-tooltip>
                    </div>
                    <div class="col-md-2 glow  high" [ngClass]="{'active': selection === 'strategy'}"
                        style="cursor: pointer;" (click)="clickview('strategy')">
                        <aq-tooltip [text]="'Focus'" [hover]="'A potential focus for your strategy.'">
                        </aq-tooltip>
                    </div>

                    <div class="col-md-2 glow  high" [ngClass]="{'active': selection === 'policies'}"
                        style="cursor: pointer;" (click)="clickview('policies')">
                        <aq-tooltip [text]="'Policies'"
                            [hover]="'Some conclusions that you can derive from your focus. What are the implications?'">
                        </aq-tooltip>
                    </div>


                </div>

                <div class="row" style="text-align: center;align-items: center;">
                    <div class="col-md-2">

                        <aq-tooltip [text]="'individual'"
                            [hover]="'Difficult to integrate into a consumers servie. Consulting and adaption of processes is required.'">
                        </aq-tooltip>
                    </div>


                    <div class="col-md-5">
                        <div *ngIf="selection == 'analysis'" [@inOutAnimation]
                            style="text-align: center;align-items: center;">
                            <h5 style="font-size: x-large; padding-top:5%;">Insurance Risk Stratification</h5>

                            <ul class="slist2">
                                <li>Market access only through insurance companies.</li>
                                <li>Each insurance company has a different infrastructure.</li>
                                <li>Statistical models are well understood.</li>


                            </ul>

                        </div>
                        <div *ngIf="selection == 'leverage'" [@inOutAnimation]
                            style="text-align: center;align-items: center;">
                            <h5 style="font-size: x-large; padding-top:5%;">Insurance Risk Stratification</h5>


                            <ul class="slist2">
                                <li>Once you have access, make sure that it is only you.</li>
                                <li>Create a long-term relationship.</li>
                                <li>Establish a strong dependency.</li>
                            </ul>
                        </div>
                        <div *ngIf="selection == 'strategy'" [@inOutAnimation]
                            style="text-align: center;align-items: center;;">
                            <h5 style="font-size: xxx-large; padding:5%;font-weight: bolder;">Lock-In</h5>

                            <p class="stext">Make it difficult for the consumer to switch to another provider. As the
                                problem is easy to solve, many competitors wait for their chance.</p>


                        </div>
                        <div *ngIf="selection == 'policies'" [@inOutAnimation]
                            style="text-align: center;align-items: center;">
                            <h5 style="font-size: x-large; padding-top:5%;">Insurance Risk Stratification</h5>
                            <ul class="slist2">
                                <li>Invest in a good sales/consulting team.</li>
                                <li>Pipeline insurance data into your systems.</li>
                                <li>...</li>
                            </ul>

                        </div>
                        <div *ngIf="selection == 'examples'" [@inOutAnimation]
                            style="text-align: center;align-items: center;;">
                            <h5 style="font-size: x-large; padding-top:5%;">Insurance Risk Stratification</h5>
                            <ul class="slist">
                                <li>Calculating heart disease risk of the insured population.</li>
                                <li>Estimating costs caused by strokes.</li>
                            </ul>
                        </div>




                    </div>
                    <div class="col-md-5">
                        <div *ngIf="selection == 'analysis'" [@inOutAnimation]
                            style="text-align: center;align-items: center;">
                            <h5 style="font-size: x-large; padding-top:5%;">ML in Radiology</h5>

                            <ul class="slist2">
                                <li>Market access for individuals generally not possible.</li>
                                <li>Modelling requires in-depth medical knowledge.</li>
                            </ul>

                        </div>
                        <div *ngIf="selection == 'leverage'" [@inOutAnimation]
                            style="text-align: center;align-items: center;">
                            <h5 style="font-size: x-large; padding-top:5%;">ML in Radiology</h5>


                            <ul class="slist2">
                                <li>Provide the very best models avialable.</li>
                                <li>Work closely with research institutions.</li>
                            </ul>
                        </div>
                        <div *ngIf="selection == 'strategy'" [@inOutAnimation]
                            style="text-align: center;align-items: center;;">
                            <h5 style="font-size: xxx-large; padding:5%;font-weight: bolder;">Crowdsource</h5>

                            <p class="stext">Market entry is difficult for individuals - pay them a premium to
                                contribute and improve your algorithms.</p>


                        </div>
                        <div *ngIf="selection == 'policies'" [@inOutAnimation]
                            style="text-align: center;align-items: center;">
                            <h5 style="font-size: x-large; padding-top:5%;">ML in Radiology</h5>
                            <ul class="slist2">
                                <li>Create a platform and let people submit their algorithms for competition.</li>
                                <li>Offer a bonus if people/researcher improve your algorithms.</li>
                                <li>...</li>
                            </ul>

                        </div>
                        <div *ngIf="selection == 'examples'" [@inOutAnimation]
                            style="text-align: center;align-items: center;;">
                            <h5 style="font-size: x-large; padding-top:5%;">ML in Radiology</h5>
                            <ul class="slist">
                                <li>Cancer detetction in MRI/CT.</li>

                            </ul>
                        </div>

                    </div>
                </div>
                <div class="row" style="text-align: center;align-items: center;">
                    <div class="col-md-2">
                        <aq-tooltip [text]="'general'"
                            [hover]="'Easy to consume ML services. Not a lot of integration work is required.'">
                        </aq-tooltip>
                    </div>
                    <div class="col-md-5">

                        <div *ngIf="selection == 'analysis'" [@inOutAnimation]
                            style="text-align: center;align-items: center;">
                            <h5 style="font-size: x-large; padding-top:5%;">Algorithmic Trading</h5>

                            <ul class="slist2">
                                <li>Market access possible for everyone.</li>
                                <li>Out of the box approaches work sufficiently well.</li>
                                <li>Data publicly available.</li>


                            </ul>

                        </div>
                        <div *ngIf="selection == 'leverage'" [@inOutAnimation]
                            style="text-align: center;align-items: center;">
                            <h5 style="font-size: x-large; padding-top:5%;">Algorithmic Trading</h5>


                            <ul class="slist2">
                                <li>Be fast in applying new strategies to the market.</li>
                                <li>Speed up in experimentation.</li>
                            </ul>
                        </div>
                        <div *ngIf="selection == 'strategy'" [@inOutAnimation]
                            style="text-align: center;align-items: center;;">
                            <h5 style="font-size: xxx-large; padding:5%;font-weight: bolder;">Automation</h5>

                            <p class="stext">Focus your platform efforts towards automation of processes. Automatic mode
                                tuning and model deployment.</p>


                        </div>
                        <div *ngIf="selection == 'policies'" [@inOutAnimation]
                            style="text-align: center;align-items: center;">
                            <h5 style="font-size: x-large; padding-top:5%;">Algorithmic Trading</h5>
                            <ul class="slist2">
                                <li>Invest in excellent and fully automated operations.</li>
                                <li>Optimize Time-to-Value.</li>
                                <li>...</li>
                            </ul>

                        </div>
                        <div *ngIf="selection == 'examples'" [@inOutAnimation]
                            style="text-align: center;align-items: center;;">
                            <h5 style="font-size: x-large; padding-top:5%;">Algorithmic Trading</h5>
                            <ul class="slist">
                                <li>Trading crypto markets.</li>
                                <li>Short-term intraday trading.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div *ngIf="selection == 'analysis'" [@inOutAnimation]
                            style="text-align: center;align-items: center;">
                            <h5 style="font-size: x-large; padding-top:5%;">ML in Social Media</h5>

                            <ul class="slist2">
                                <li>It is a digital market. Thus, easy to implement.</li>
                                <li>Modelling social integration is not trivial.</li>
                                <li>Data is publicly available.</li>


                            </ul>

                        </div>
                        <div *ngIf="selection == 'leverage'" [@inOutAnimation]
                            style="text-align: center;align-items: center;">
                            <h5 style="font-size: x-large; padding-top:5%;">ML in Social Media</h5>


                            <ul class="slist2">
                                <li>Large distribution channels.</li>
                                <li>Globally available.</li>
                                <li>Easy to subscribe to your service.</li>
                            </ul>
                        </div>
                        <div *ngIf="selection == 'strategy'" [@inOutAnimation]
                            style="text-align: center;align-items: center;;">
                            <h5 style="font-size: xxx-large; padding:5%;font-weight: bolder;">Scale</h5>

                            <p class="stext">Scale on the distribution side and make it as easy as possible to consume
                                your service globally</p>


                        </div>
                        <div *ngIf="selection == 'policies'" [@inOutAnimation]
                            style="text-align: center;align-items: center;">
                            <h5 style="font-size: x-large; padding-top:5%;">ML in Social Media</h5>
                            <ul class="slist2">
                                <li>Improve user experience.</li>
                                <li>Easy opt-in.</li>
                                <li>...</li>
                            </ul>

                        </div>
                        <div *ngIf="selection == 'examples'" [@inOutAnimation]
                            style="text-align: center;align-items: center;;">
                            <h5 style="font-size: x-large; padding-top:5%;">ML in Social Media</h5>
                            <ul class="slist">
                                <li>Analyzing performance of social media accounts.</li>
                            </ul>
                        </div>

                    </div>

                </div>

                <div class="row" style="margin-top: 5px;">

                    <div class="col-md-2">
                    </div>
                    <div class="col-md-3" style="text-align: right;">
                        <p>
                            <aq-tooltip [text]="'lower'"
                                [hover]="'A class of problems which can be solved with out of the box approaches. State-of-the-Art (SOTA)'">
                            </aq-tooltip>
                        </p>
                    </div>
                    <div class="col-md-4" style="text-align: center;margin-top: 20px;">
                        <p style="font-size: xx-large; font-weight: bolders;">
                            Domain Knowledge
                        </p>
                    </div>
                    <div class="col-md-3" style="text-align: left">
                        <p>
                            <aq-tooltip [text]="'higher'"
                                [hover]="'Models that are difficult to build without profound domain knowledge'">
                            </aq-tooltip>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>