@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    color: aliceblue;
    font-family:Ubuntu, sans-serif
  }

.slist{
    font-size: medium; text-align: left;
    margin: 5%;

}
li {
    padding: 3%;
}
.slist2{
    font-size: medium; text-align: left;
    margin: 2%;

}

.row {
    margin-bottom: 1rem;
    }
.stext{
    font-size: medium;
}


.col-md-5 {
    height: 6rem;
    width: 100%;
    border-width:thin;
    border-style: solid;
    border-color: aliceblue;
}

.glow:hover {
    //border: 1px solid aliceblue;
    text-shadow: 0 0 15px aliceblue;
    transition: all 0.2s ease;
  }
  
 .high.active {
    text-shadow: 0 0 15px aliceblue;
    text-decoration: underline;
    font-weight:bolder;
    color: aliceblue;
}

