<home-button></home-button>


<div *ngIf = "reading != null" class="container" style="margin:5%; width: 100%;">

    <div class="row">
        <div class="col-md-12 description">
            A list of valuable links and resources.
        </div>
    </div>


    <div *ngFor='let key of Object.keys(reading)'>

        <div class="row">
            <div class="col-md-12 category">
                {{key}}
            </div>
        </div>
        <div *ngFor='let item of reading[key]' class="row" style="border:transparent;border-bottom:aliceblue;border-width: 1px; border-style: dashed;padding: 10px;">
            <div class="col-md-4 bookname">
                <a href="{{item.Url}}" target="_blank" rel="noopener noreferrer">
                    {{item.Title}}
                </a>
            </div>
            <div class="col-md-8 description" style="vertical-align: middle; display: flex;">
                <span>               
                    {{item.Description}}
                </span>
            </div>
        </div>
    </div>
</div>