<div class="wrapper">
    <div class="container" style="background-color: transparent;margin-top: 50px;">

        <div class="row" style="padding:0px;">
            <div class="col-md-12 d-lg-none"
                style="border-bottom: aliceblue; padding-bottom:50px;padding-top:50px;margin-bottom: 10px; border-style:solid;
                justify-content: center;align-items: center;display: inline-flex;border-width:1px;">
                <img src="assets/manuelh.jpg" alt="Avatar" style="border-radius: 10%">
                <p style="margin-left: 10px;;">Manuel Alexander Hirzel<br> Software Engineer </p>
            </div>
        </div>

        <div class="row" style="text-align: center;align-items: center;">
            <div class="col-md-4" style="z-index: 100; color: aqua;">
            </div>


            <div class="col-md-4">
                <a href="https://github.com/IcebergLettuce/Website/blob/main/frontend/src/assets/CV_Manuel_Hirzel_Public.pdf" target="_blank" rel="noopener noreferrer" title="Manuel CV" style="text-decoration: none">
                    <tooltip [text]="'CV'" [hover]="'Open CV'"></tooltip>
                </a>
            </div>
            <div class="col-md-4" style="z-index: 100;">
            </div>
        </div>


        <div class="row" style="text-align: center;align-items: center;">
            <div class="col-md-4 " style="z-index: 100;">
                <app-shake [text]="'Projects'" routerLink="/projects"></app-shake>
            </div>

            <div class="col-md-4 d-none d-lg-block" style="z-index: 100;">
                <img src="assets/manuelh.jpg" alt="Avatar" style="border-radius: 50%;">
            </div>

            <div class="col-md-4 d-lg-none" style="z-index: 100;"> <br>
                <app-shake [text]="'Resources'" routerLink="/reading"></app-shake>
            </div>


            <div class="col-md-4">
                <app-icons></app-icons>
            </div>
        </div>

        <div class="row" style="text-align: center;align-items: center;">
            <div class="col-md-4" style="z-index: 100;">
            </div>
            <div class="col-md-4  d-none d-lg-block" style="z-index: 100;">
                <app-shake [text]="'Resources'" routerLink="/reading"></app-shake>
            </div>
            <div class="col-md-4" style="z-index: 100;">
            </div>
        </div>

    </div>
</div>