<div class="container" style="font-size: large;">

    <div class="row">
        <div class="col-md-12">
            <p>
                This project is likely the driver of my professional and academic development. I started drafting ideas
                back when I was 17 years old, and even nowadays, I enjoy brainstorming on it from time to time. But let
                me tell you why I'm here where I am:
                <br>
                <br> In 2010, I worked as an automation engineer at one of the largest chocolate manufacturers
                worldwide. In contrast to the company's television advertising, which portrays the production of
                chocolate as an artisanal activity, it is a highly automated industrial process.
                As engineers, we were responsible for keeping the factory running smoothly and taking action in case of
                outages. <br>An interruption of manufacturing always means a lot of stress for all the involved people.
                It is not predictable how long it takes to resolve the issues and just think of the immense costs caused
                by failure.
                <br><br> Some day, it came to my mind that these failures probably didn't happen by coincidence and that
                they must be somehow predictable. As an engineer, I was aware that we process all the sensory data of
                the plants in PLC units. The PLC unit is like the brain of an industrial plant and is programmed to
                control the manufacturing process. Each plant quickly has hundreds of sensors needed to run the
                machines.


                <br>
                <br> <span style="font-weight: bold;">The problem was I just had no idea know how to approach this
                    project. </span>
            </p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6" style="display:flex; align-items: center; vertical-align: middle;;display: block;">
            <img class="grow" src="assets/plc.png" alt="Avatar" width=100% style="border-radius: 5%; padding-top:10px; padding-bottom: 10px;">
            <figcaption style="text-align: left;font-size:medium;">Example of a PLC used to control industrial plants.
            </figcaption>

        </div>
        <div class="col-md-6" style="display:flex; align-items: center; vertical-align: middle;display: block;">
            <img class="grow" src="assets/sensor.png" alt="Avatar" width=100% style="border-radius: 5%;padding-top:10px; padding-bottom: 10px;">
            <figcaption style="text-align: left;font-size:medium">Sensor detecting packages on conveyor belt.
            </figcaption>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                <!-- <span style="font-size: xx-large">
                Eager to learn
            </span><br> -->
                It bugged me so much that I was not capable of working out my idea and providing a solution that I
                decided to enroll at university. I knew that this was the way to get the toolset required to realize
                such an undertaking.
                <br><br>

                After a few semesters at university, I told a mathematics professor about it and that I was looking for
                a mentor who could point me in the right direction. Thankfully he was very forthcoming to support me and
                my idea, and he proposed reading and understanding the paper "An introduction to hidden Markov models"
                by L.Rabiner.
                Finally, 4 years after the initial idea, I had the tools to tackle the project. I immediately activated
                my contacts to access PLC data of a chocolate plant and start working on it. Luckily I was not alone on
                the project
                anymore. A good friend of mine joined in and was a great collaborator.

                <br>
                <br>
                After days and nights crunching the PLC data with hidden Markov models, we finally could showcase that a
                failure state is detectable in the latent space of the HMM <span style="font-weight: bold;">before the
                    incident actually happens.</span>
            </p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12" style="display:flex; align-items: center; vertical-align: middle;display: block;">
                <img class="grow" src="assets/meetup4.jpg" alt="Avatar" width=100% style="border-radius: 5%;padding-top:10px; padding-bottom: 10px;">
                <figcaption style="text-align: left;font-size:medium">Presenting the project at a Berlin Analytics
                    Meetup, I organized 2018 with

                    <a href="https://alphazetta.ai" target="_blank" rel="noopener noreferrer">
                        AlphaZetta
                    </a>

                    .
                </figcaption>

            </div>
        </div>
        <div class="col-md-6" style="display:flex; align-items: center; vertical-align: middle;display: block;">

            <img class="grow" src="assets/meetup1.jpg" alt="Avatar" width=100% style="border-radius: 5%;padding-top:10px; padding-bottom: 10px;">
            <figcaption style="text-align: left;font-size:medium">Comparing two charts to show that our algorithm can predict failures in advance.</figcaption>

        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <span style="font-weight: bold;">Why was this project essential for my academic and professional
                career?</span>
            <br><br>
            It let me discover that I have a genuine interest and curiosity in mathematics, processing large amounts of
            data, and applying the insights to solve real-world problems. From there on, one step led to another. I
            enrolled in the master's program at the Institute of Mathematics at TU Berlin and pursued a
            software engineering career.



        </div>
    </div>





</div>