<div class="container" style="font-size: large;">

    <div class="row">
        <div class="col-md-12">
            <p>

                In 2010, I worked as an automation engineer at one of the largest chocolate manufacturers worldwide. In
                contrast to the company's television advertising, which portrays the production of chocolate as an
                artisanal activity, it is a highly automated industrial process. As engineers, we were responsible for
                keeping the factory running smoothly and taking action in case of outages.
                An interruption of manufacturing always means a lot of stress for all the involved people. It is often
                unknown how long it takes to resolve an issue, and the pressure to fix it quickly is relatively high.
                This is due to the immense costs caused by an interrupted manufacturing process and the fact that an
                error affects downstream processes. I was not very happy about this reactive approach where actions are
                taken after something had happened, and I thought it would be way better to be proactive and try to
                eliminate the causes of failures before starting the machinery. The math is quite simple, spending 4
                hours beforehand and replacing a likely damaged machine part is cheaper than having an outage of 4 hours
                caused by it. This would also lead to a way more robust and reliable manufacturing process in general.
                <br><br>

                As someone who worked daily with these industrial plants, I was convinced that these failures didn't
                happen by coincidence. I assumed that they somehow slowly diverge from the ""happy-path" and that this
                must be measurable. For example, an electrical motor's rotational speed with an unusual high variability
                or a sensor not correctly detecting goods on a conveyor belt.
                <br><br>

                All these machine components like sensors, electrical motors, pneumatic systems, etc. are finally
                somehow connected to the PLC unit. The PLC unit is the brain of the industrial plant, and this is the
                device where all signals come together. The PLC unit is then programmed to control the manufacturing
                process. Somewhere in the scramble of these signals is the information about the healthiness of the
                industrial plant. Extracting this information would possibly help to predict the likelihood of an
                outage.


            </p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6" style="display:flex; align-items: center; vertical-align: middle;;display: block;">
            <img class="grow" src="assets/plc.png" alt="Avatar" width=100%
                style="border-radius: 5%; padding-top:10px; padding-bottom: 10px;">
            <figcaption style="text-align: center;font-size:medium;">Example of a PLC used to control industrial plants.
            </figcaption>

        </div>
        <div class="col-md-6" style="display:flex; align-items: center; vertical-align: middle;display: block;">
            <img class="grow" src="assets/sensor.png" alt="Avatar" width=100%
                style="border-radius: 5%;padding-top:10px; padding-bottom: 10px;">
            <figcaption style="text-align: center;font-size:medium">Sensor detecting packages on conveyor belt.
            </figcaption>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p style="margin:0px;;">
                So, I had the idea, but I lacked the toolset to tackle this problem. At this time, I had never heard of
                machine learning, nor did I really know how to process large amounts of data. It bugged me so much that
                I could not work out my idea and provide a solution that I decided to enroll at university and learn
                about programming and statistics.
                <br><br>
                After a few semesters at university, I told a mathematics professor about my old project and that I was
                looking for a mentor who could point me in the right direction to solve it. Luckily he was very
                forthcoming to support me and my idea, and he proposed reading and understanding the paper "An
                introduction to hidden Markov models (HMM)" by L.Rabiner.
                <br><br>

                I gave it another try with a basic understanding of HMM and some programming skills. I reached out to
                my former engineering colleagues and the factory and begged them to record the signals of a machine that
                went into a failure state.
                <br><br>

                After days and nights crunching the PLC data with them HMMs, it was finally possible to showcase that a
                failure state is detectable in the latent space of the HMM before the incident actually happens.
                <br><br>

                <span style="font-size: large;font-weight: bolder;">What a relief after 4 years of carrying this idea
                    around!</span>

            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            Overall the impact of this project is modest. Building and implementing such a system in real life imposes
            many hard-to-solve engineering problems. But it was beneficial for me personally. It motivated me to enroll
            at university and dig into mathematical topics like HMMs as I finally realized that this knowledge is
            transferable to solve interesting problems.
            <br>
            <br>

            Still today, this project comes up again. In 2018 I co-organized with <a href="https://alphazetta.ai"
                target="_blank" rel="noopener noreferrer">
                AlphaZetta
            </a> some MeetUps in Berlin on
            Analytics, and it is just an ideal topic to talk about. Everyone (almost) likes chocolate, and it is super
            easy to transfer the idea of predictive maintenance to other domains, as it just makes sense.
            <br>
            <br>


        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12" style="display:flex; align-items: center; vertical-align: middle;display: block;">
                <img class="grow" src="assets/meetup4.jpg" alt="Avatar" width=100%
                    style="border-radius: 5%;padding-top:10px; padding-bottom: 10px;">
                <figcaption style="text-align: center;font-size:medium">Presenting the project at a Berlin Analytics MeetUp.

                    .
                </figcaption>

            </div>
        </div>
        <div class="col-md-6" style="display:flex; align-items: center; vertical-align: middle;display: block;">

            <img class="grow" src="assets/meetup1.jpg" alt="Avatar" width=100%
                style="border-radius: 5%;padding-top:10px; padding-bottom: 10px;">
            <figcaption style="text-align: center;font-size:medium">Showing some fancy charts..</figcaption>

        </div>
    </div>

</div>