<home-button></home-button>

<div class="container" style="margin:5%;width: 100%; padding:0%;">



  <div class="row" style="margin-bottom: 50px;">
    <div class="col-md-12">
      <h1 (click)="collapse1.toggle()" class="glow" style="cursor: pointer;"> Predicting outages of chocolate
        manufacturing plants.</h1>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div #collapse1="ngbCollapse" [(ngbCollapse)]="pmIsCollapsed">
        <!-- <div class="card">
                  <div class="card-body"> -->
        <app-pm-project></app-pm-project>
        <!--                 
                </div>
                </div> -->
      </div>

    </div>
  </div>

  <div class="row" style="font-size: medium;">
    <div class="col-md-12">
      More will be ready soon...
    </div>

  </div>

  <!-- <div class="row">   
      <div class="col-md-12">
          <h1 (click)="collapse3.toggle()" style="cursor: pointer;">Playground as Code</h1>
            <div #collapse3="ngbCollapse" [(ngbCollapse)]="infraIsCollapsed">
              <div class="card">
                <div class="card-body">

                  WORK IN PROGRESS (will be ready soon)

                  <app-infra-project></app-infra-project>
                </div>
              </div>
            </div>
      </div>
  </div> -->


  <!-- <div class="row">
        
        <div class="col-md-12">
            <h1 (click)="collapse2.toggle()" style="cursor: pointer;">ML Quadrant</h1>
              <div #collapse2="ngbCollapse" [(ngbCollapse)]="aqIsCollapsed">
                <div class="card">
                  <div class="card-body">
                    WORK IN PROGRESS (will be ready soon)

                    <app-aq-project></app-aq-project>
                  </div>
                </div>
              </div>
        </div>
    </div> -->


  <!-- <div class="row">   
        <div class="col-md-12">
            <h1 (click)="collapse4.toggle()" style="cursor: pointer;">Corona Dashboard & Germany's Super Election</h1>
              <div #collapse4="ngbCollapse" [(ngbCollapse)]="coronaIsCollapsed">
                <div class="card">
                  <div class="card-body">
                    WORK IN PROGRESS (will be ready soon)

                    <app-tsp-project></app-tsp-project>
                  </div>
                </div>
              </div>
        </div>
    </div> -->
</div>