  /* Style the Un-order list by setting its list-style to none */
  .wrapper ul {
    list-style: none;
  }
  
  /* Style the list items inside the UL list, by setting its width, height and line-height 
    and float them to left and set its border and border-radius.
   */
  .wrapper ul li {
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  /* Style the icons by setting its color and margin-top value to 20px 
  to align it properly */
  .wrapper ul li .fa {
    color: aliceblue;
    transition: all 0.5s ease;
  }
    
  /*twitter*/
  .wrapper ul li:hover.linkedin {
    transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-linkedin {
    color: #2867B2;
    text-shadow: 0 0 15px #2867B2;
    transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover.github {
    transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-github {
    color: #fffff0;
    text-shadow: 0 0 15px #fffff0;
    transition: all 0.5s ease;
  }
  
  
  /* media queries */
  
  @media screen and (max-width: 640px){
    .wrapper {
        width: 100%;
    }
    .wrapper ul li{
        margin-top: 10px;
    }
    .wrapper ul li.google{
        margin-left: 0px;
    }
  }
  
  
  @media screen and (max-width: 340px){
    .wrapper {
      width: 100%;
    }
    .wrapper ul li{
        margin:0px;
    }
    .wrapper ul li.google{
        margin-left: 0px;
    }
  }
  
  